body {
  font-family: poppins;
}

h4 {
  font-family: playfair display;
  font-size: 40px;
  font-weight: bold;
}

.hero {
  background-color: #f9f7fe;
  font-family: playfair display;
  padding-top: 200px;
  padding-bottom: 200px;
}

h1 {
  font-size: 60px;
  font-family: playfair display;
}

.hero .greeting {
  font-family: poppins;
  font-size: 36px;
  font-weight: bold;
}

button {
  font-family: poppins;
  font-weight: bold;
  background-color: #6c63ff;
  border: #6c63ff;
  padding: 15px;
  color: white;
  border-radius: 5px;
}

.app-description {
  color: #6c757d;
}

.project-info {
  padding-top: 150px;
}

.about {
  padding: 10% 20% 0 20%;
}

.learn-more-btn {
  color: #6c63ff;
  font-size: 20px;
  padding: 20px;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  background-color: #ffffff;
}

.navigation-bar {
  background-color: #f9f7fe;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-link{
  color :#5c6369;
  font-weight : bold;
}

.active{
  color : #6c63ff;
}

.card{
  background-color : #f9f7fe;
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 60%;
  margin-left: 20%;
  font-family: playfair display;
}

.icon a{
  color :  #6c63ff;
  font-size: 30px;
}

.technologies-icon{
  max-width: 60px;
  max-height: 60px;
}


button:hover, .icon a:hover {
  color: black;
}
